*.mzML
*.html
*.png
*.sqlite
/standard_mixes_prep
/example/results
/afekta/HE_mzml
/afekta
/auth
/afekta/results/HE/mse
/afekta/results/HE/mse2
/auth
*.DS_Store
/cembio/results/HE/mse
/cembio/results/HE/mse2
/example_lab/example_library_building_files
/example_lab/example_preprocessing_files
/example_lab/results/HE/mse
/hmgu/results/HE/mse
/results/object
/icl/results/HE/mse2
/icl/results/HE/mse
/shared_data
/afekta/results/HE/mse_new
*.zip
/afekta/results/Others/mse
/afekta/results/Others/mse2
/results/lab_comparison_HE_files
results/lab_comparison_HE.rmarkdown
/cembio/HE_mzml
/downstream_analysis
