*.mzML
*.html
*.png
*.sqlite
/standard_mixes_prep
/example/results
/afekta/HE_mzml
/afekta
/auth
*.DS_Store
/cembio/results/HE/mse
/cembio/results/HE/mse2
/example_lab/example_library_building_files
/example_lab/example_preprocessing_files
/example_lab/results/HE/mse
/hmgu/results/HE/mse
/results/object
/icl/results/HE/mse2
/icl/results/HE/mse
/shared_data
*.xlsx
